[user]
	name = LyleCheatham
	email = hello@lylecheatham.com
[core]
	excludesfile = /Users/lyle/.gitignore_global
    editor = /usr/local/bin/nvim
	excudesfile = `~/.gitignore_global`
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/Lyle/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
    #template = /Users/lyle/.stCommitMsg
[credential]
	helper = osxkeychain
